:root {
    --first-color: #020005;
    --second-color: #46177A;
    --third-color: #9214E0;
    --fourth-color: #BA69FF;
    --fifth-color: #FDF7FF;
    --font: 'Titillium Web', sans-serif;
    --font-style-normal: normal;
}

* {
    font-family: var(--font);
    font-style: var(--font-style-normal);
}